<style>
  #sale_table input{
    width: 100%;
    border-style: none;    
}
thead input{
  width: 100%;
    border-style: none;
}
input{
    border-style: none;    
    background-color: transparent;
    /* text-align: center; */
}

@media print{
  #navbar{
    display: none;
  }
  #sale_particulars th{
    font-size: 18px;
  }
  .btn-primary{
    display: none;
  }
  p{
    font-size: 14px;
  }

 
}

</style>


<%- include("partial/head.ejs") %>
<%- include("partial/nav.ejs") %>
<div class="container-fluid">
  
      <div class="row mx-2"> 

         <h4 class="text-center m-0">SALE INVOICE</h4>
          <h2 class="text-center m-0">Ritik Advertising</h2>
          <p class="text-center m-0">Add. Silarpur Road, Dankaur Distt - G.B. Nagar (U.P.) - 203201</p>
          <!-- <p class="text-center m-0">GST No. FJDLSJLFDLJKLJL</p> -->
          <p class="text-center m-0">Mob. 9412845464, Email ID - yadav.ritik@gmail.com</p>

          <div class="row mt-3">
            <div class="col-7">
              
              <input type="text" name="customer_name" value="<%= data.customer_name %>" id="customer_name"><br>              
              <input type="text" name="add" value="<%= data.add %>" id="add" size="30"> 
              <p class="m-0">Mob. : <input type="text" name="mob" value="<%= data.mob %>" id="mob"></p>
              <p class="m-0"> GST No. : <input type="text" name="gst" value="<%= data.gst %>" id="gst"></p> 
            
            </div>
            <% var dt = data.date
            newdt = dt.toLocaleDateString("en-IN", {format: "dd-mm-yyyy"})          
            %>
            <div class="col-5 text-end">
            <p> Date : <input type="text" value="<%= newdt %>" id="invoicedate" name="invoicedate" size="8"> </p>  
                      
                       
            <p>Invoice No. : <input type="text" value="<%= data.invoice %>" name="sale_invoice" id="" size="5"></p>
          </div>
          </div>
          
          <div class="row" id="sale_particulars">
            <!-- <table class="table table-bordered border-primary"> -->
              <table class="table-sm table-bordered">  
                <thead>
                  <tr>
                    <th scope="col" >S.N.</th>
                    <th scope="col" class="w-50">Particulars</th>
                    <th scope="col">Height</th>
                    <th scope="col">Width</th>
                    <th scope="col">Area</th> 
                    <th scope="col">Qty</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody id="sale_table">                   
                  <% data.product_name.forEach((item,i) =>{   %>
                  <tr>
                    <td scope="col"> <input type="number" name="" id=""></td>
                    <td scope="col"> <input type="text" value="<%= item %>" name="" id=""></td>
                    <td scope="col"> <input type="number" value="<%= data.product_height[i] %>" name="" id=""></td>
                    <td scope="col"> <input type="number" value="<%= data.product_width[i] %>" name="" id=""></td>
                    <td scope="col"> <input type="number" value="<%= data.product_area [i] %>" name="" id=""></td> 
                    <td scope="col"> <input type="number" value="<%= data.product_qty[i] %>" name="" id=""></td>
                    <td scope="col"> <input type="number" value="<%= data.product_rate[i] %>" name="" id=""></td>
                    <td scope="col"> <input type="number" class="sale_amount" value="<%= data.product_value[i] %>" name="" id=""></td>
                    
                  </tr>
                <% }) %>
                </tbody>
                <thead>
                  <tr>
                    <th scope="col" colspan="7" >Total</th>
                    <th scope="col"><input type="number" id="sale_total" value="<%= data.sale_total %>" name="sale_total" ></th>
                  </tr>
                </thead>
              </table>
                <div class="row p-0 m-0 ">
                  <div class="col-3 "> 

                  </div>
                  <div class="col-9 text-end mt-3 ">
                    <div class="mt-2">
                    <label for="">Discount</label>
                    <input type="number" class="text-end border" value="<%= data.sale_discount %>" name="sale_discount" id="sale_discount">
                  </div>
                  <div class="mt-2">
                    <label for="CGST">CGST</label>
                    <select name="cgst" value="<%= data.cgst %>" id="select_cgst">
                      <option value="<%= data.cgst %>"><%= data.cgst %>%</option>
                      <option value="0">0</option>
                      <option value="2.5">2.5%</option>
                      <option value="6">6%</option>
                      <option value="9">9%</option>
                      <option value="14">14%</option>
                    </select>
                    <input type="number" class="text-end border" value="<%= data.sale_cgst %>" name="sale_cgst" id="sale_cgst">
                  </div>
                  <div class="mt-2">
                    <label for="SGST">SGST</label>
                    <select name="" id="select_sgst">
                      <option value="<%= data.sgst %>"><%= data.sgst %>%</option>
                      <option value="0">0</option>
                      <option value="2.5">2.5%</option>
                      <option value="6">6%</option>
                      <option value="9">9%</option>
                      <option value="14">14%</option>
                    </select>
                    <input type="number" class="text-end border" name="sale_sgst" value="<%= data.sale_sgst %>" id="sale_sgst">
                  </div>
                  <div class="mt-2">
                    <label for="IGST">IGST</label>
                    <select name="" id="select_igst">
                      <option value="<%= data.igst %>"><%= data.igst %>%</option>
                      <option value="0">0</option>
                      <option value="5">5%</option>
                      <option value="12">12%</option>
                      <option value="18">18%</option>
                      <option value="28">28%</option>
                    </select>
                    <input type="number" class="text-end border" name="sale_igst" value="<%= data.sale_igst %>" id="sale_igst">
                  </div>
                  <div class="mt-2">
                    <label for="" id="sale_gtotal">Total</label>
                    <input type="number" class="text-end border" name="sale_gsum" value="<%= data.sale_gsum %>" id="sale_gsum">
                  </div>
                  </div>    
                </div>
          </div>


          <div class="row">
            <div class="mt-3 mb-3">
              <label for="" id="sale_gtotal">Advance Received</label>
              <input type="number" class="text-end border" name="advance" value="<%= data.advance %>" id="advance"> <br>

              <div class="my-2">
                <textarea name="note" id="" cols="100" rows="2" class="p-2 " placeholder="Enter you note..." ><%= data.note %></textarea>
              </div>

               <!-- link for send message by whatshapp -->
              <a 
                id="whatshapp-link" 
                href="https://wa.me/9412845464?text=thanks for used our services - <%= data.customer_name %>"
                target="_blank"
                class="btn btn-success mt-2"
              >
                send
              </a>

          
              <button class="btn btn-primary mt-2 " onclick="printpage()">Print</button>
            </div>
          </div>          
      </div>
    </div>
  
<script>
  function printpage(){
    window.print() 
  }
</script>


<%- include("partial/footer.ejs") %>

