<%- include("partial/head.ejs") %> <%- include("partial/nav.ejs") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"><%- include("partial/sidebar.ejs") %></div>
    <div class="col-10">
      <div class="row bg-light p-3 m-3 shadow">
        <form action="" method="post">
          <h4 class="text-center m-0">SALE INVOICE</h4>
          <h2 class="text-center m-0">Ritik Advertising</h2>
          <p class="text-center m-0">
            Add. Silarpur Road, Dankaur Distt - G.B. Nagar (U.P.) - 203201
          </p>
          <!-- <p class="text-center m-0">GST No. FJDLSJLFDLJKLJL</p> -->
          <p class="text-center m-0">
            Mob. 9412845464, Email ID - yadav.ritik@gmail.com
          </p>

          <div class="row">
            
            
            <!-- customer data -->
            <div class="col-6">
              <p>Billed To :</p>

              <label for="customer">Select Customer Name</label>
              <select name="Select" value="Select" id="customer">
                <option disabled selected>Select Customer</option>
                <% customerdata.forEach((item) => { %>
                <option
                  value="<%= item.name %>--<%= item.add  %>--<%= item.mob  %>--<%= item.gst  %>"
                  name="selectcus"
                  id="selectcus"
                >
                  <%= item.name %>
                </option>
                <% }) %>
              </select>
              <br />

              <input
                type="text"
                name="customer_name"
                value=""
                id="customer_name"
              />
              <br />
              <input type="text" name="add" value="" id="add" size="30" />
              <p class="m-0">
                Mob. : <input type="text" name="mob" value="" id="mob" />
              </p>
              <p class="m-0">
                GST No. : <input type="text" name="gst" value="" id="gst" />
              </p>

              <!-- add customer link -->
              <a href="/customer" id="customerLink" class="btn btn-primary m-1">Add Customer</a>
            </div>

            <!-- date and invoice no -->
            <div class="col-6 text-end">
              <p>
                Date :
                <input
                  type="text"
                  id="invoicedate"
                  name="invoicedate"
                  size="8"
                />
              </p>

              <p>
                Invoice No. :
                <input
                  type="text"
                  value="<%= salecount %>"
                  name="sale_invoice"
                  id=""
                  size="5"
                />
              </p>
            </div>
          </div>

          <!-- products list -->
          <div class="row m-3" id="add_product">
            <div class="m-2">
              <label for="">Select Items </label>
              <select class="form-control w-25" name="" id="product">
                <% productdata.forEach((item) => { %>
                <option value="<%= item.stockname  %>">
                  <%= item.stockname %>
                </option>
                <% }) %>
              </select>
            </div>

            <!-- information of product -->
            <div class="d-flex">
              <div class="m-2">
                <label for="">Height</label>
                <input
                  class="form-control"
                  type="number"
                  name=""
                  id="sale_height"
                />
              </div>
              <div class="m-2">
                <label for="">Width</label>
                <input
                  class="form-control"
                  type="number"
                  name=""
                  id="sale_width"
                />
              </div>
              <div class="m-2">
                <label for="">Area</label>
                <input
                  class="form-control"
                  readonly
                  type="number"
                  name=""
                  id="sale_area"
                />
              </div>
              <div class="m-2">
                <label for="">Qty.</label>
                <input
                  class="form-control"
                  type="number"
                  name=""
                  id="sale_qty"
                />
              </div>
              <div class="m-2">
                <label for="">Rate</label>
                <input
                  class="form-control"
                  type="number"
                  name=""
                  id="sale_rate"
                />
              </div>
              <div class="m-2">
                <label for="">Amount</label>
                <input
                  class="form-control"
                  readonly
                  type="number"
                  name=""
                  id="sale_value"
                />
              </div>
              <div class="mt-4">
                <input
                  type="button"
                  value="+Add"
                  class="form-control btn-primary"
                  id="create_item"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <!-- <table class="table table-bordered border-primary"> -->
            <table class="table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">S.N.</th>
                  <th scope="col" class="w-50">Particulars</th>
                  <th scope="col">Height</th>
                  <th scope="col">Width</th>
                  <th scope="col">Area</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>

              <tbody id="sale_table"></tbody>

              <!-- for total -->
              <thead>
                <tr>
                  <th scope="col" colspan="7">Total</th>
                  <th scope="col">
                    <input
                      type="number"
                      readonly
                      id="sale_total"
                      name="sale_total"
                    />
                  </th>
                </tr>
              </thead>

              <!-- GST -->
            </table>
            <div class="row p-0 m-0">
              <!-- discount -->
              <div class="col-6"></div>
              <div class="col-6 text-end mt-3">
                <div class="mt-2">
                  <label for="">Discount</label>
                  <input
                    type="text"
                    value="0"
                    name="sale_discount"
                    id="sale_discount"
                  />
                </div>

                <!-- cgst -->
                <div class="mt-2">
                  <label for="CGST">CGST</label>
                  <select name="cgst" id="select_cgst">
                    <option value="0">0</option>
                    <option value="2.5">2.5%</option>
                    <option value="6">6%</option>
                    <option value="9">9%</option>
                    <option value="14">14%</option>
                  </select>
                  <input
                    type="text"
                    value="0"
                    name="sale_cgst"
                    id="sale_cgst"
                    readonly
                  />
                </div>

                <!-- sgst -->
                <div class="mt-2">
                  <label for="SGST">SGST</label>
                  <select name="sgst" id="select_sgst">
                    <option value="0">0</option>
                    <option value="2.5">2.5%</option>
                    <option value="6">6%</option>
                    <option value="9">9%</option>
                    <option value="14">14%</option>
                  </select>
                  <input
                    type="text"
                    name="sale_sgst"
                    value="0"
                    id="sale_sgst"
                    readonly
                  />
                </div>

                <!-- igst -->
                <div class="mt-2">
                  <label for="IGST">IGST</label>
                  <select name="igst" id="select_igst">
                    <option value="0">0</option>
                    <option value="5">5%</option>
                    <option value="12">12%</option>
                    <option value="18">18%</option>
                    <option value="28">28%</option>
                  </select>
                  <input
                    type="text"
                    readonly
                    name="sale_igst"
                    value="0"
                    id="sale_igst"
                  />
                </div>

                <div class="mt-2">
                  <label for="" id="sale_gtotal">Total : </label>
                  <input
                    type="text"
                    name="sale_gsum"
                    value="0"
                    id="sale_gsum"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- advance received and text area -->
          <div class="row">

            <div class="mt-3 mb-3">
              <label for="" id="sale_gtotal">Advance Received</label>
              <input type="number" name="advance" value="0" id="advance" />
            </div>

            <div class="my-2">
              <textarea name="note" id="" cols="100" rows="2" class="p-2 " placeholder="Enter you note..."></textarea>
            </div>


          </div>

          

          <!-- submit button -->
          <input
            id="submitBtn"
            type="submit"
            value="Submit"
            class="btn-primary p-1"
          />
          <input type="reset" value="Reset" class="btn-primary p-1" />
        </form>
      </div>
    </div>
  </div>
</div>

<script src="js/sale.js"></script>

<%- include("partial/footer.ejs") %>